.creditcardfront, .creditcardback {
    background-color: rgb(209, 209, 209);
    width: 300px;
    height:230px;
    box-sizing: border-box;
    border-radius: 10px;
}

form {
    display: grid;
    grid-template-columns:100px 200px 100px;
    grid-template-rows: 30px 200px 30px 30px ;
}

.creditcardfront {
    grid-column:1/3;
    grid-row:1/3;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.5);
    padding:20px;
}

.creditcardback {
    grid-column:2/4;
    grid-row:2/4;
    z-index:-1;
}

button {
    grid-column:3/4;
    grid-row:4/5;
    background-color: rgb(209, 209, 209);
    width: 100px;
    height:30px;
    margin-top:10px;
    border-radius: 10px;
}

.totaldiv {
    grid-column: 1/2;
    grid-row: 1/2;
}

.icondiv {
    grid-column: 2/3;
    grid-row: 1/2;
}

.cardnumberdiv {
    grid-column: 1/3;
    grid-row: 2/3;
}

.cardholderdiv {
    grid-column: 1/2;
    grid-row: 3/4;
}

.expirationdiv {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left:5px;
}

#mm, #yy {
    width:25px;
}


    

#creditcardnumber {
    width:250px;
}

.icondiv {
    justify-self: end;
}

.creditcardback {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 1fr 1fr;
    padding-top:15px;
    padding-bottom: 15px;;
}

.cvcdiv {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: self-end;
    justify-self:left;
    padding-bottom: 25px;
    margin-left: 10px;
}

.cvcdiv label {
    font-size: 14px;;
}

#cvc {
    width:35px;
    
}

#blackbar {
    background-color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: top;
    height:40px;
}
