 @import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }

h2 {
    color:var(--primary-color);
    font: var(--primary-font);
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:visited {
    color:var(--primary-color)
}

header {
    display:flex;
    flex-direction:column ;
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
    padding-top: 30px;
    width:100%;
    align-items: center;
}
.title {
    display:flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;

}
.tagdiv {
    display: flex;
    flex-direction: horizontal;
    
}
#titlelogo  {
    width: 75px;
}

.searchdiv {
    padding-top: 30px;
    display:flex;
    flex-direction: row;
    height:60px;
    width:95%;
    justify-content: center;
    box-sizing: border-box;
        
}

h1 {
    font: "Amatic SC";
    font-size: 30px;
    margin-left: -10px;;
}

#search {
    width:95%;
    font-size:20px;
}

.searchdiv img {
    width:100%;
    height:90%
}
.searchdiv button {
    width:5%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%
    }

.food {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 30px;
    width:95%;
    margin-top: 30px;
    align-items: left;
    justify-content: center;
}

.display {
    width:100%;
    height:400px;
}
.textsection {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 20px;
    padding-bottom: 30px;
}

.tag {
    border:2px solid black;
    box-sizing:border-box;
    padding:5px;
    width:fit-content;
    font-size:20px;
}

h2 {
    margin-bottom: 0px;
    font-size: 30px;
}

.textsection p {
   display:none;
}

@media screen and (max-width: 800px) {
    footer {
        width:95%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:30px;
        align-items: center;
        padding-bottom: 0px;;
    }

    .social img {
        width:70px;
    }
    .social {
        display:flex;
        flex-direction: row;
        justify-self: center;



    }

    .link {
        align-items: center;
        order:2;

    }
}


@media screen and (min-width: 800px) {

    header {
        display:flex;
        flex-direction:column ;
        border-bottom: 2px solid grey;
        padding-bottom: 30px;
        padding-top: 30px;
        width:100%;
        align-items: center;
    }

    .title {
        display:flex;
        flex-direction: row;

        justify-content: center;
    }

    #titlelogo  {
        width: 75px;
    }

    .searchdiv {
        padding-top: 30px;
        display:flex;
        flex-direction: row;
        height:60px;
        width:95%;
        justify-content: center;
        box-sizing: border-box;
        
    }
    #search {
        width:97%;
        font-size:20px;
    }

    .searchdiv img {
        width:100%;
        height:90%
    }
    .searchdiv button {
        width:3%;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%
    }
    .food {
        display:flex;
        flex-direction: row;
        width:95%;
        box-sizing: border-box;
        padding:30px;
        border:2px solid black;
        align-items: left;
        justify-content: left;
    }
    .textsection {
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding-left: 30px;
        padding-top: 0px;

    }

    .tag {
        border:2px solid black;
        box-sizing:border-box;
        padding:5px;
        width:fit-content;
        font-size:20px;

    }
    .tagdiv {
        display: flex;
        flex-direction: horizontal;
    }
    .display {
        width:600px;
    }

    h2 {
        margin-bottom: 0px;
        font-size: 30px;
    }

    .textsection p {
        font-size: 35px;
        display: block;
        
    }

    .social a{
        width:5%;
    }
    footer {
        width:95%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding:30px;

    }

    .social {
        display:flex;
        flex-direction: row;
        justify-content: right;
        width:90%;


    }

    .link {
        display:flex;
        flex-wrap: nowrap;
        width:60%;
        align-items: center;
    }
    
}