@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
 --gold-color: #EFC69B;
 --red-color: #AF1B3F;
 --dark-color: #473144;
 --body-font: Helvetica,Arial,sans-serif;
 --headline-font: Lora, impact, serif;
}

ul {
    grid-column:3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    justify-items: center;
    margin:0;
    padding:0;
    width:100%;
    list-style:none;
    
}

 a {
    color:var(--red-color);
}

nav {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    border: var(--gold-color) 1px solid;
    padding: 30px;
}

h1 {
    justify-content:center;
    text-align: center;
    color: var(--dark-color);
}

h2 {
    color:var(--red-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 30px;
    
}

.left {
    grid-column:1/2;
    justify-items:right;
    padding-right:20px;
    border-right:var(--gold-color) 1px solid;
    text-align:right;
}
.middle {
    grid-column:2/3;
    justify-items: center;
    padding-left:20px;
    padding-right:20px;
}
.right {
    grid-column:3/4;
    border: var(--gold-color) 1px solid;
}

.left, .middle {
    display:grid;
    grid-template-rows: 1fr 1fr;

}

.book1 {
    grid-row:1/2;
}

.book2 {
    grid-row:2/3;
}

.skiptocontent a {
    position: absolute;
	
    top: -40px;
    justify-items:left;
    background-color: var(--dark-color);
    color:var(--gold-color);
}
.skiptocontent a:focus {
	top:0
}